// Variables
// *------------------------------------------------*
$heart-color: #d75353;
$count-color: #d7d5d5;

$heartIcon-width-on-media: 60px;
$heartIcon-width-on-media-mobile: 20px;

$ticket-hovered: #8cc093;

$hearted-text-color: #b29191;
